# --- MongoDB Config ---
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=pets_dev

# --- AWS S3 Config ---
AWS_REGION=us-east-1
AWS_S3_BUCKET=your-dev-bucket
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
# Only needed if using local AWS profiles
AWS_PROFILE=
